body {
    margin: 0;
    background-color: white;
}
p {
    margin: 0;
}
.div2 {
    padding: 100px auto;
    background-color: springgreen;
}
.div3 {
    margin: auto 40%;
    background-color: rgb(140,144,136);
}
.div4 {
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,13,1.0);
    transition: ease 0.4s;
}
.div5 {
    width: 100px;
    height: 100px;
    background-color: rgb(115,25,13);
    transition: ease 0.4s;
}
.div5:hover {
    background-color: rgba(255,155,113,0.1);
    transition: ease 0.4s;
}